@model IEnumerable<Nohai_Dragos_Ionut_Lab2.Models.LibraryViewModels.OrderGroup>

@{
    ViewData["Title"] = "Ordered Books Statistics";
}

<h2>Ordered Books Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Books
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.BookCount
            </td>
        </tr>
    }
</table>